<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Corporate Office</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        <div class="dashboard-container">
            <div class="widget">
                <h2>Welcome to the Dashboard</h2>
            </div>
        </div>
    </main>
    <header>
        <nav>
            <ul class="nav-list">
                <li><button class="nav-button" onclick="window.location.href='testimonialform.php'">Testimonial Form</button></li><br>
                <li><button class="nav-button" onclick="window.location.href='../model/testimonial.php'">All Testimonials</button></li><br>
                <li><button class="nav-button" onclick="window.location.href='settings.html'">Settings</button></li><br>
                <li><button class="logout-button" onclick="window.location.href='logout.php'">Logout</button></li>
            </ul>
        </nav>
    </header>
</body>
</html>
